<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Nombre</ion-label>
  <ion-input [(ngModel)] = "nombre" ></ion-input>

  <ion-label>Tipo</ion-label>
  <ion-input [(ngModel)] = "tipo"></ion-input>

  <ion-label>Telefono</ion-label>
  <ion-input [(ngModel)] = "telefono"></ion-input>

  <ion-label>Direccion</ion-label>
  <ion-input [(ngModel)] = "direccion"></ion-input>

  <ion-label>Latitud</ion-label>
  <ion-input type="number" [(ngModel)] = "latitud"></ion-input>

  <ion-label>Longitud</ion-label>
  <ion-input type="number" [(ngModel)] = "longitud"></ion-input>

  <ion-label>Foto</ion-label>
  <div>
    <img src="{{imgURL}}" height="200" width="200"/>
    <ion-button (click)="getCamara()">Camara</ion-button>
    <ion-button (click)="getGaleria()">Galeria</ion-button>
  </div>

  

  <ion-button color="success" (click)="registrar()">Registrar</ion-button>
</ion-content>
