<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
  <ion-label id="nombre" position="floating">Nombre</ion-label>
  <ion-input [(ngModel)] = "newItem.nombre" ></ion-input></ion-item>

  <ion-item>
  <ion-label id="nombre" position="floating">Tipo</ion-label>
  <ion-input [(ngModel)] = "newItem.tipo"></ion-input></ion-item>

  <ion-item>
  <ion-label id="nombre" position="floating">Telefono</ion-label>
  <ion-input [(ngModel)] = "newItem.telefono"></ion-input></ion-item>

  <ion-item>
  <ion-label id="nombre" position="floating">Direccion</ion-label>
  <ion-input [(ngModel)] = "newItem.direccion"></ion-input></ion-item>

  <ion-item>
  <ion-label id="nombre" position="floating">Latitud</ion-label>
  <ion-input type="number" [(ngModel)] = "newItem.latitud"></ion-input></ion-item>

  <ion-item>
  <ion-label id="nombre" position="floating">Longitud</ion-label>
  <ion-input type="number" [(ngModel)] = "newItem.longitud"></ion-input>
  </ion-item>
  
  
  <ion-button [(ngModel)] = "newItem.foto" color="succes" (click)="addPhotoToGallery()"> 
  
  <ion-icon name="camera"></ion-icon></ion-button>
  <!--<input type="file" id="pwaphoto" #pwaphoto [(ngModel)] = "newItem.foto" accept="image/x-png,image/jpeg" (change)="addPhotoToGallery()">-->

  
  <ion-button color="success" (click)="addItem()">Registrar</ion-button>
</ion-content>
